<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Álbumes</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
      }
      section {
        background-color: #fff;
        margin: 20px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      p {
        margin: 0;
        padding: 5px 0;
      }
      strong {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1>Lista de Álbumes</h1>
    <% albumes.forEach((album) => { %>
    <section>
      <p><strong>Id:</strong> <%= album.id %></p>
      <p><strong>Nombre:</strong> <%= album.titulo %></p>
      <p><strong>Artista:</strong> <%= album.artista.nombre %></p>
    </section>
    <% }); %>
  </body>
</html>
